<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/firstPage.css">
    <title>首页</title>
</head>
<body>
<div class="wrap">
    <div class="content">
        <ul class="list">
            <li>
                <div class="username">
                    <a href="#"><img src="../img/1c0017fed3ad948738cb456289e960c9.jpg"></a><span>lily</span>
                </div>
                <div class="clear"></div>
                <div class="userContent">
                    <p>人，要么像辣椒一样有脾气。要么像白菜一样有层次。要么像莲藕一样有心眼。 可我做不到！我就像一根甘蔗，直，不会拐弯抹角，一就是一，二就是二。虽然这样的性格吃不开，容易得罪人，但我还是喜欢这样的自己，不虚伪，不算计别人，喜欢做真实的自己，我相信傻人有傻福。</p>
                </div>
                <div class="edit">
                    <div class="comment"><a href="#" id="comment">评论(1)</a></div>
                    <div class="share"><a href="#" id="shareAll">分享(2)</a></div>
                </div>
                <div class="clear"></div>
                <div id="Message">
                    <div class="editContent" contenteditable="true"></div>
                    <div class="but">
                        <div class="msg_but">发表</div>
                    </div>
                    <div class="clear"></div>
                    <div class="main"></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="username">
                    <a href="#"><img src="../img/2a4fe1cf5303d0a8fb1a1d9ed34b09a5.jpg"></a><span>lily</span>
                </div>
                <div class="clear"></div>
                <div class="userContent">
                    <p>人，要么像辣椒一样有脾气。要么像白菜一样有层次。要么像莲藕一样有心眼。 可我做不到！我就像一根甘蔗，直，不会拐弯抹角，一就是一，二就是二。虽然这样的性格吃不开，容易得罪人，但我还是喜欢这样的自己，不虚伪，不算计别人，喜欢做真实的自己，我相信傻人有傻福。</p>
                </div>
                <div class="edit">
                    <div class="comment"><a href="#">评论(1)</a></div>
                    <div class="share"><a href="#" id="shareAll1">分享(2)</a></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="username">
                    <a href="#"><img src="../img/4a717eb258b3fd1c867a80310b5b6653.jpg"></a><span>lily</span>
                </div>
                <div class="clear"></div>
                <div class="userContent">
                    <p>人，要么像辣椒一样有脾气。要么像白菜一样有层次。要么像莲藕一样有心眼。 可我做不到！我就像一根甘蔗，直，不会拐弯抹角，一就是一，二就是二。虽然这样的性格吃不开，容易得罪人，但我还是喜欢这样的自己，不虚伪，不算计别人，喜欢做真实的自己，我相信傻人有傻福。</p>
                </div>
                <div class="edit">
                    <div class="comment"><a href="#">评论(1)</a></div>
                    <div class="share"><a href="#" id="shareAll2">分享(2)</a></div>
                </div>
                <div class="clear"></div>

            <li>
                <div class="username">
                    <a href="#"><img src="../img/f672a84f9b9d137e1cae65c12a0f.jpg"></a><span>lily</span>
                </div>
                <div class="clear"></div>
                <div class="userContent">
                    <p>人，要么像辣椒一样有脾气。要么像白菜一样有层次。要么像莲藕一样有心眼。 可我做不到！我就像一根甘蔗，直，不会拐弯抹角，一就是一，二就是二。虽然这样的性格吃不开，容易得罪人，但我还是喜欢这样的自己，不虚伪，不算计别人，喜欢做真实的自己，我相信傻人有傻福。</p>
                </div>
                <div class="edit">
                    <div class="comment"><a href="#">评论(1)</a></div>
                    <div class="share"><a href="#" id="shareAll3">分享(2)</a></div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <ul>
            <li><a href="firstPage.html">发现</a></li>
            <li><a href="myAPP.html">应用</a></li>
            <li><a href="mine.html">我的</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="./../cordova.js"></script>
<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/SocialSharing.js"></script>
<script type="text/javascript" src="../js/share.js"></script>
</body>
</html>
