<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/firstPage.css">
    <link rel="stylesheet" type="text/css" href="../css/mine.css">
    <title>首页</title>
</head>
<body>
<div class="wrap">
    <div class="content">
        <div class="title">
            <a href="#" class="logoImg"><img src="../img/1c0017fed3ad948738cb456289e960c9.jpg"></a>
            <div class="link">
                <a class="codeImg"><img src="../img/barcode-2d.png"><p>二维码生成</p></a>
                <a class="editMine"><img src="../img/user-red-edit.png"><p>修改个人资料</p> </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="contentDetail">
            <div class="userName"><p>昵称:</p><span>Lily</span></div>
            <div class="userDescription"><p>擅长领域:</p><span>软件专家</span></div>
            <div class="userSign"><p>自我描述:</p><span>WEB前端开发最爱唱歌的</span></div>
        </div>
        <div class="userComment">
            <div class="userComment1"><img src="../img/sms.png"><span>评论（2）</span></div>
            <div class="userComment2"><img src="../img/share.png"><span>分享（3）</span></div>
        </div>
    </div>
    <div class="bottom">
        <ul>
            <li><a href="firstPage.html">发现</a></li>
            <li><a href="myAPP.html">应用</a></li>
            <li><a href="mine.html">我的</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="./../cordova.js"></script>
<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/barcodescanner.js"></script>
<script type="text/javascript" src="../js/mine.js"></script>
</body>
</html>
