.wrap{
    padding:20px 10px 20px 10px;
}
.title{
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.title a{
    display: inline-block;
    color: #000;
    font-size: 5px;
    text-align: center;
}
.link{
    display: inline-block;
    float: right;
}
.link .codeImg{
    margin-right: 30px;
}.logoImg{
    margin-left: 20px;
 }
.title .logoImg img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.title .editMine img{
    width: 16px;
    height: 16px;
}
.userName,.userDescription,.userSign{
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #e2e2e2;
}
.contentDetail  p{
    color: #000000;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}
.contentDetail  span{
    display: inline-block;
    color: #999;
    font-size: 12px;
}
.userSign{
    font-size: 12px;
    color: #000000;
}
.userComment{
    float: right;
    margin-top: 10px;
}
.userComment .userComment1,.userComment .userComment2{
    display: inline-block;
}
.userComment .userComment1 img,.userComment .userComment2 img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.userComment .userComment1 span,.userComment .userComment2{
    color: #000;
    font-size: 12px;
    line-height: 16px;
}